# path: config/config.yaml

agent:
  conversational_chat: False
  # conversational_chat: true
  # Note: recommend GPT-4 to use conversational_chat mode

database:
  default_database: ethereum
  default_schema: core

model:
  llm_name: gpt-3.5-turbo
  # llm_name: gpt-4

tool:
  query_database_tool_top_k: 10
  query_database_tool_mode: flipside
  query_database_tool_return_direct_if_successful: True
  check_table_summary_tool_mode: local
  check_table_metadata_tool_mode: local
  # DO NOT enable the following option unless you know what you are doing 
  query_database_tool_return_direct: False  
  # This option makes the tool return immediately even if the query is not successful
  # therefore, the tool will not perform correction and retry! 
  # use the query_database_tool_return_direct_if_successful option instead!

flipside:
  query_timeout: 5
  query_max_retries: 1
# agent_chain:
#  agent_executor_return_intermedidate_steps: False

metadata:
  context_ethereum_file: data/metadata/context_ethereum_core_defi_nft_price.json
  annotation_ethereum_file: data/metadata/annotation_ethereum_core_defi_nft_price.json
  # context_ethereum_file: data/metadata/context_ETHEREUM_is_CORE_DEFI.json
  # annotation_ethereum_file: data/metadata/annotation_ethereum_core_defi.json
  # context_ethereum_core_file: data/metadata/context_ethereum_core_v2.json
  # context_ethereum_defi_file: data/metadata/context_ethereum_defi_v2.json
  # context_ethereum_nft_file: data/metadata/context_ethereum_nft_v2.json
  # context_ethereum_price_file: data/metadata/context_ethereum_price_v2.json
  # annotation_ethereum_core_file: data/metadata/annotation_ethereum_core_v2.json
  # annotation_ethereum_defi_file: data/metadata/annotation_ethereum_defi_v2.json
  # annotation_ethereum_nft_file: data/metadata/annotation_ethereum_nft_v2.json
  # annotation_ethereum_price_file: data/metadata/annotation_ethereum_price_v2.json

ethereum_core_table_long_name:
  enabled_list:
    - "ethereum.core.ez_current_balances"
    - "ethereum.core.ez_token_transfers"
    - "ethereum.core.dim_labels"
  full_list:
    - "ethereum.core.dim_contract_abis"
    - "ethereum.core.dim_contracts"
    - "ethereum.core.dim_dates"
    - "ethereum.core.dim_event_signatures"
    - "ethereum.core.dim_function_signatures"
    - "ethereum.core.dim_labels"
    - "ethereum.core.ez_balance_deltas"
    - "ethereum.core.ez_current_balances"
    - "ethereum.core.ez_decoded_event_logs"
    - "ethereum.core.ez_eth_transfers"
    - "ethereum.core.ez_token_transfers"
    - "ethereum.core.fact_blocks"
    - "ethereum.core.fact_contract_reads"
    - "ethereum.core.fact_decoded_event_logs"
    - "ethereum.core.fact_eth_balances"
    - "ethereum.core.fact_token_balances"
    - "ethereum.core.fact_token_transfers"
    - "ethereum.core.fact_traces"
    - "ethereum.core.fact_transactions"

ethereum_defi_table_long_name:
  enabled_list:
    - "ethereum.defi.ez_dex_swaps"
  full_list:
    - "ethereum.defi.dim_dex_liquidity_pools"
    - "ethereum.defi.ez_bridge_activity"
    - "ethereum.defi.ez_dex_swaps"
    - "ethereum.defi.ez_liquid_staking_deposits"
    - "ethereum.defi.ez_liquid_staking_withdrawals"
    - "ethereum.defi.ez_lending_borrows"
    - "ethereum.defi.ez_lending_deposits"
    - "ethereum.defi.ez_lending_flashloans"
    - "ethereum.defi.ez_lending_liquidations"
    - "ethereum.defi.ez_lending_repayments"
    - "ethereum.defi.ez_lending_withdraws"

ethereum_nft_table_long_name:
  enabled_list:
    - "ethereum.nft.ez_nft_sales"
  full_list:
    - "ethereum.nft.dim_nft_collection_metadata"
    - "ethereum.nft.dim_nft_metadata"
    - "ethereum.nft.ez_nft_mints"
    - "ethereum.nft.ez_nft_sales"
    - "ethereum.nft.ez_nft_transfers"

ethereum_price_table_long_name:
  enabled_list:
    - "ethereum.price.ez_hourly_token_prices"
  full_list:
    - "ethereum.price.dim_asset_metadata"
    - "ethereum.price.ez_asset_metadata"
    - "ethereum.price.ez_hourly_token_prices"
    - "ethereum.price.fact_hourly_token_prices"

logging:
  default:
    log_level: INFO
    log_to_console: True
    log_to_file: True
    log_format: "%(asctime)s [%(name)s] [%(levelname)s] [%(module)s:%(lineno)d] [%(funcName)s]: %(message)s"
    date_format: "%Y-%m-%d %H:%M:%S"
    log_file_path: "logs/chatweb3.log"

  development:
    log_level: DEBUG
    log_to_console: True
    log_to_file: True

  production:
    log_level: WARNING
    log_to_console: False
    log_to_file: True